body {
    background: url('../images/twd.jpg') no-repeat center center fixed;
    background-size: cover;
}

#container {
    width: 700px;
    margin-left: 300px;
}

div>p {
      color: black;
    font-weight: bold;
    font-size: 22px;
}

.charName {
    padding-left: 15px;
    padding: 0px;
    margin: 0px;
}

.chbutton {
    background-color: white;
    border: none;
    padding: 10px;
    margin: 0;
    border-style: solid;
}

.character {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: white;
    border-style: solid;
}

.ebutton {
    background-color: red;
    border: none;
    padding: 10px;
    margin: 0;
    border-style: solid;
}

img {
    width: 115px;
    height: 80px;
    padding-left: 15px;
}